@charset "utf-8";
.buttonsBackground .navBarItems a {
    padding-right:19px;
}

.bottom-buffer {
    margin-top:150px;
}

.buttonsBackground {
    height:140px;
    box-shadow:3px 3px 6px 0 rgba(0, 0, 0, 0.80);
    position:static;
    position: relative;
    width: 100%;
    background: white;
    color: #333233;
    font-family: "ProximaNova";
    background: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/school.png");
    background: #93B7BE;
    background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, .4) 10%, rgba(138, 114, 76, 0) 40%), -moz-linear-gradient(top, rgba(57, 173, 219, .25) 0%, rgba(42, 60, 87, .4) 100%), -moz-linear-gradient(-45deg, #0D529C 0%, #93B7BE 100%);
    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, .4) 10%, rgba(138, 114, 76, 0) 40%), -webkit-linear-gradient(top, rgba(57, 173, 219, .25) 0%, rgba(42, 60, 87, .4) 100%), -webkit-linear-gradient(-45deg, #0D529C 0%, #93B7BE 100%);
    background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, .4) 10%, rgba(138, 114, 76, 0) 40%), -o-linear-gradient(top, rgba(57, 173, 219, .25) 0%, rgba(42, 60, 87, .4) 100%), -o-linear-gradient(-45deg, #0D529C 0%, #93B7BE 100%);
    background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, .4) 10%, rgba(138, 114, 76, 0) 40%), -ms-linear-gradient(top, rgba(57, 173, 219, .25) 0%, rgba(42, 60, 87, .4) 100%), -ms-linear-gradient(-45deg, #0D529C 0%, #93B7BE 100%);
    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, .4) 10%, rgba(138, 114, 76, 0) 40%), linear-gradient(to bottom, rgba(57, 173, 219, .25) 0%, rgba(42, 60, 87, .4) 100%), linear-gradient(135deg, #0D529C 0%, #93B7BE 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#0D529C', endColorstr='#93B7BE', GradientType=1);
}

.top-buffer {
    margin-top:200px;
}

.pageNameText {
    font-family:Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size:4.8em;
    font-weight:100;
}

body {
    color:#555;
}

