@charset "utf-8";
.buttonsBackground .navBarItems a {
    padding-right:19px;
}

.bottom-buffer {
    margin-top:150px;
}

.buttonsBackground {
    background-color:#2c3e50;
    height:140px;
    box-shadow:3px 3px 6px 0 rgba(0, 0, 0, 0.80);
    position:static;
}

.top-buffer {
    margin-top:200px;
}

.pageNameText {
    font-family:Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size:4.8em;
    font-weight:100;
}

body {
    color:#555;
}

