button p {
    color: white;
}

.answerchoiceContainer {
    margin-top: 20px;
    height: 500px;
}

.questionText {
    padding: 5%;
    /* white-space: normal; */
    /* font-family: Al Bayan; */
    font-size: large;
    color: white;
}

.questionContainer {
    width: 350;
    height: 250px;
    background: #2c3e50;
    box-shadow: 6px 7px 12px -1px rgba(0, 0, 0, 1.00);
}

.middleContainer {
    height: 250px;
    display: block;
}

.pageLabelAndImageContainer {
    margin-top: 110px;
    height: 400px;
}

div h2 {
    font-size: -webkit-xxx-large;
    font-weight: 100;
    /* padding-left: 67px; */
    text-align: center;
    margin: 5%;
}

li {
    margin-bottom: 25px;
    border: solid 1px transparent;
    color: black;
}

li a {
    margin-right: 19px;
}

li p {
    font-size: medium;
    display: inline-block;
    white-space: normal;
    /* height: 40px; */
    /* width: 550px; */
    /* word-wrap: break-word; */
    margin-left: 5%;
}

.mainSectionContainer ul {
    margin-top: 0px;
}

ul {
    display: inline-block;
}

.col-md-12.list-unstyled {
    margin-top: 5%;
}

.Timer {
    margin-top: 5%;
    white-space: normal;
    font-size: large;
    color: black;
    text-align: center;
}
