.starImage {
    padding-left: 45px;
}

.rankLevelSection {
    margin: 5%;
}

.profileImageSection {
    height: 450px;
    text-align: center;
}

.profileImageSection div {
    height: 400px;
    width: 400px;
}

.rankLevelSection h2 {
    text-align: center;
    font-weight: 300;
}