a p {
    text-align: center;
    padding: 75px 4px 4px 4px;
}

.button_1 {
    border-radius: 20px;
    width: 47px;
    height: 41px;
    background-color: #3498db;
    margin: 4px;
    display: inline-block;
}

button p {
    color: white;
}

.button_2 {
    border-radius: 20px;
    width: 47px;
    height: 41px;
    background-color: #e74c3c;
    margin: 4px;
}

li button {
    padding-bottom: 12px;
}

.button_3 {
    border-radius: 20px;
    width: 47px;
    height: 41px;
    background-color: #2ecc71;
    margin: 4px;
}

.button_4 {
    border-radius: 20px;
    width: 47px;
    height: 41px;
    background-color: #9b59b6;
    margin: 4px;
}

.buttonPrevious {
    border-radius: 20px;
    width: 47px;
    height: 41px;
    background-color: #ecf0f1;
    margin: 95px 4px 4px 4px;
}

.buttonNext {
    border-radius: 20px;
    width: 47px;
    height: 41px;
    background-color: #ecf0f1;
    margin: 95px 4px 4px 4px;
}

.answerchoiceContainer {
    margin-top: 20px;
    height: 500px;
}

.questionText {
    margin-top: 25px;
    white-space: normal;
    font-family: Al Bayan;
    font-size: large;
    color: white;
}

.questionContainer {
    width: 350;
    height: 250px;
    background: #2c3e50;
    box-shadow: 6px 7px 12px -1px rgba(0, 0, 0, 1.00);
}

.middleContainer {
    height: 250px;
    display: block;
}

.buttonNext {
    margin-top: 95px;
}

.pageLabelAndImageContainer {
    margin-top: 110px;
    height: 400px;
}

div h2 {
    font-size: -webkit-xxx-large;
    font-weight: 100;
    padding-left: 67px;
}

li {
    margin-bottom: 25px;
    border: solid 1px transparent;
    color: black;
}

li a {
    margin-right: 19px;
}

li p {
    padding-top: -3px;
    font-size: medium;
    display: inline-block;
    white-space: normal;
    height: 40px;
    width: 550px;
    word-wrap: break-word;
}

.questionChoiceOne {
    padding-top: 32px;
    height: inherit;
    text-align: left;
    font-size: medium;
}

.answerText {}

.mainSectionContainer ul {
    margin-top: 0px;
}

body {
    color: #555;
    font-family: 'Roboto', sans-serif;
}

ul {
    display: inline-block;
}

.buttonSubmit {
    border-radius: 25px;
    background-color: #2c3e50;
    margin-left: 5%;
    width: 132px;
    position: relative;
    margin-top: 5%;
}

.Timer {
    margin-top: 10px;
    white-space: normal;
    font-size: large;
    color: black;
}

#skillCircle {
    height: 80px;
}

#skillCircle strong {
    text-align: left;
}

#scoreCircle {
    height: 80px;
}

h2 {
    white-space: nowrap;
}

.starImage {
    padding-left: 24px;
}

rankRow {
    height: 63px;
}

.usernameText {
    text-align: center;
    padding-left: none;
}

.profileImageSection {
    height: 450px;
}

.profileImageSection div {
    height: 400px;
    width: 400px;
}

.rankLevelSection h2 {
    padding-left: 14px;
    font-weight: 300;
    width: 60px;
}

div img {
    padding-top: 9px;
    padding-left: -5px;
}

.profileImageSection img {
    align-self: center;
}

body {
    color: #555;
    font-family: 'Roboto', sans-serif;
}

@media(max-width:767px) {
    .starImage {
        display: none;
    }
}

@charset "utf-8";
.pageLabelAndImageContainer {
    margin-top: 110px;
    height: 400px;
}

div h2 {
    font-size: -webkit-xxx-large;
    font-weight: 100;
    padding-left: 49px;
}

li {
    margin-bottom: 10px;
}

li a {
    margin-right: 19px;
}

li p {
    padding-top: 19px;
    font-size: x-large;
    height: inherit;
}

.listHeader {
    text-align: left;
}

.mainSectionContainer ul {
    margin-top: 24px;
}

body {
    color: #555;
    font-family: 'Roboto', sans-serif;
}

@charset "utf-8";
.buttonsBackground .navBarItems a {
    padding-right: 19px;
}

.bottom-buffer {
    margin-top: 1%;
}


/*.buttonsBackground {
    background-color: #2c3e50;
    height: 140px;
    box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.80);
    position: static;
}*/

.top-buffer {
    margin-top: 100px;
}

.pageNameText {
    font-size: 4.8em;
    font-weight: 100;
}

body {
    color: #555;
    font-family: 'Roboto', sans-serif;
}

@charset "utf-8";
h2 {
    white-space: nowrap;
}

.starImage {
    padding-left: 45px;
}

.rankLevelSection {
    height: 63px;
}

.usernameText {
    text-align: center;
    padding-left: none;
}

.profileImageSection {
    height: 450px;
}

.profileImageSection div {
    height: 400px;
    width: 400px;
}

.rankLevelSection h2 {
    padding-left: 14px;
    font-weight: 300;
    width: 60px;
}

div img {
    padding-top: 9px;
    padding-left: -5px;
}

.profileImageSection img {
    align-self: center;
}

body {
    color: #555;
    font-family: 'Roboto', sans-serif;
}

@media(max-width:767px) {
    .starImage {
        display: none;
    }
}

.loginBox input {
    background-color: #ecf0f1;
    margin-bottom: 20px;
    margin-top: 10px;
    height: 40px;
    width: 300px;
}

.inputContainer {
    height: 300px;
}

.registrationButton {
    border-radius: 25px;
    background-color: #ecf0f1;
    margin-left: 5%;
    width: 132px;
    position: relative;
    margin-top: 5%;
}

.loginButton {
    float: right;
    margin-right: 5%;
    direction: ltr;
    display: inline-block;
    margin-top: 5%;
}

.loginBox {
    height: 50%;
    width: 50%;
}

.avatarContainer {
    height: 130px;
    width: 125px;
}

.avatarImage {
    padding: 5%;
    width: 150px;
}

.loginBox label {
    color: #ecf0f1;
    text-align: center;
    font-size: x-large;
    margin-top: 10%;
}

body {
    color: #555;
}

.siteContainer {
    padding-top: none;
    overflow: scroll;
}

.loginContainer {
    height: 400px;
    margin-top: 70px;
}

.registrationSection {
    height: 450px;
}

.avatarContainer h2 {
    color: #ecf0f1;
    text-align: center;
}

.websiteBrand {
    font-family: 'Roboto', sans-serif;
    font-size: -webkit-xxx-large;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0
}

.container-fluid {
    height: 100%;
    display: table;
    width: 100%;
    padding: 0;
}

.row-fluid {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.centering {
    float: none;
    margin: 0 auto;
}

body {
    position: relative;
    width: 100%;
    height: 50%;
    background: white;
    color: #333233;
    font-family: 'Roboto', sans-serif;
    background: #93B7BE;
    background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, .4) 10%, rgba(138, 114, 76, 0) 40%), -moz-linear-gradient(top, rgba(57, 173, 219, .25) 0%, rgba(42, 60, 87, .4) 100%), -moz-linear-gradient(-45deg, #0D529C 0%, #93B7BE 100%);
    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, .4) 10%, rgba(138, 114, 76, 0) 40%), -webkit-linear-gradient(top, rgba(57, 173, 219, .25) 0%, rgba(42, 60, 87, .4) 100%), -webkit-linear-gradient(-45deg, #0D529C 0%, #93B7BE 100%);
    background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, .4) 10%, rgba(138, 114, 76, 0) 40%), -o-linear-gradient(top, rgba(57, 173, 219, .25) 0%, rgba(42, 60, 87, .4) 100%), -o-linear-gradient(-45deg, #0D529C 0%, #93B7BE 100%);
    background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, .4) 10%, rgba(138, 114, 76, 0) 40%), -ms-linear-gradient(top, rgba(57, 173, 219, .25) 0%, rgba(42, 60, 87, .4) 100%), -ms-linear-gradient(-45deg, #0D529C 0%, #93B7BE 100%);
    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, .4) 10%, rgba(138, 114, 76, 0) 40%), linear-gradient(to bottom, rgba(57, 173, 219, .25) 0%, rgba(42, 60, 87, .4) 100%), linear-gradient(135deg, #0D529C 0%, #93B7BE 100%);
}


/*.center-vertically {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.loginBox input {
    background-color: #F1FFFA;
    color: #454545;
}

.loginInput {
    width: 50%;
    margin-top: 2%;
}

.registrationButton {
    border-radius: 25px;
    width: 50%;
    margin-top: 2%;
}

.companyName {
    font-size: smaller;
    color: #F1FFFA;
    padding: 1%;
}

.appName {
    font-size: xx-large;
}

.logo {
    padding: 1%;
}

h2.form-login-heading {
    color: #F1FFFA;
}

form {
    width: 50%;
    margin: 0 auto;
}

.form-control {
    display: inline-flex;
}*/

@charset "utf-8";
.contentList {}

#usernameInputField {
    display: inline-block;
    width: 300px;
    background-color: transparent;
}

#passwordInputField {
    display: inline-block;
    width: 300px;
    background-color: transparent;
}

#emailInputField {
    display: inline-block;
    width: 300px;
    background-color: transparent;
}

#profileImage {
    height: 400px;
    width: 400px;
    margin-top: 25px;
}

.submissionAnchor {
    margin-left: 3px;
}

a p {
    text-align: center;
    padding: 75px 4px 4px 4px;
}

.button_1 {
    border-radius: 20px;
    width: 47px;
    height: 41px;
    background-color: transparent;
    margin: 4px;
    display: inline-block;
}

button p {
    color: black;
}

.button_2 {
    border-radius: 20px;
    width: 47px;
    height: 41px;
    background-color: transparent;
    margin: 4px;
}

li button {
    padding-bottom: 12px;
}

.button_3 {
    border-radius: 20px;
    width: 47px;
    height: 41px;
    background-color: transparent;
    margin: 4px;
}

.button_4 {
    border-radius: 20px;
    width: 57px;
    height: 41px;
    background-color: transparent;
    margin: 4px auto;
    display: block;
}

.buttonPrevious {
    border-radius: 20px;
    width: 47px;
    height: 41px;
    background-color: #ecf0f1;
    margin: 95px 4px 4px 4px;
}

.buttonNext {
    border-radius: 20px;
    width: 47px;
    height: 41px;
    background-color: #ecf0f1;
    margin: 95px 4px 4px 4px;
}

.buttonSubmit {
    border-radius: 42px;
    width: 96px;
    height: 120px;
    background-color: #ecf0f1;
    margin: 0px 4px 4px 4px;
}

.submissionDiv {
    margin-top: 30px;
}

.answerchoiceContainer {
    margin-top: 20px;
    height: 500px;
    display: block;
}

.questionText {
    margin-top: 25px;
    white-space: normal;
}

.profileImageContainer {
    width: 350;
    height: 400px;
    background: transparent;
    box-shadow: 0px;
}

.middleContainer {
    height: 250px;
    display: block;
}

.buttonNext {
    margin-top: 95px;
}

.pageLabelAndImageContainer {
    margin-top: 110px;
    height: 400px;
}

div h2 {
    font-family: Helvetica Neue;
    font-size: x-large;
    font-weight: 100;
    padding-left: 67px;
}

li {
    margin-bottom: 25px;
    border: solid 1px transparent;
    color: black;
}

li a {
    margin-right: 19px;
}

li p {
    padding-top: -3px;
    font-size: small;
    display: inline-block;
    white-space: normal;
    height: 40px;
    width: 550px;
    word-wrap: break-word;
    color: black;
    text-align: left;
    padding-top: 8px;
}

.questionChoiceOne {
    padding-top: 32px;
    height: inherit;
    text-align: left;
}

.answerText {}

.mainSectionContainer ul {
    margin-top: 0px;
}

body {
    color: #555;
    font-family: 'Roboto', sans-serif;
}

@charset "utf-8";
.pageLabelAndImageContainer {
    margin-top: 110px;
    height: 400px;
}

div h2 {
    font-size: -webkit-xxx-large;
    font-weight: normal;
    padding-left: 49px;
}

li {
    margin-bottom: 29px;
}

li p {
    padding-top: 22px;
    font-size: x-large;
}

.mainSectionContainer ul {
    margin-top: 98px;
}

body {
    color: #555;
    font-family: 'Roboto', sans-serif;
}

@charset "utf-8";
.navContainerDiv {
    height: inherit;
}

.siteLogo {
    font-size: 6em;
    color: #ecf0f1;
    height: inherit;
    width: 90px;
    padding-left: 16px;
}

.mainSectionContainer {
    height: 550px;
}

.siteHeader {
    height: 120px;
    width: 101.4%;
    background-color: #34495e;
    display: block;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    overflow: auto;
}

body {
    background-color: #ecf0f1;
    font-family: 'Roboto', sans-serif;
}

.navBarItems {
    height: 95px;
    width: 80px;
    margin-top: 15px;
    margin-left: -21px;
}

.navBarChallenges {
    height: 95px;
    width: 80px;
    margin-top: 15px;
    margin-left: -21px;
}


.bodyContainer {
    height: 700px;
}

@media(max-width:767px) {
    .siteHeader {
        height: 240px;
    }
}

@charset "utf-8";
.skillsHeader {
    margin-top: 38px;
    z-index: 0;
    display: run-in;
    position: absolute;
}

.skillsStarContainer {
    margin-top: 110px;
    height: 400px;
}

div h2 {
    font-size: 5em;
    font-weight: lighter;
    padding-left: 50px;
}

li {}

li span {
    display: block;
    width: 362px;
    height: 65px;
    background: url(../imgs/skills/star.png) 0 0;
}

li span span {
    display: block;
    height: 65px;
    width: 50%;
    background: url(../imgs/skills/starBold.png) 0 0p;
}

.skillLabelListItem {
    margin-bottom: -15px;
}

li p {
    padding-top: 13px;
    font-size: 3em;
}

.mainSectionContainer ul {
    margin-top: 150px;
}

.starList {
    padding: 13px 4px 26px 122px;
    margin-top: 26px;
}

body {
    color: #555;
    font-family: 'Roboto', sans-serif;
}

.scoreboardButton {
    background: url(../imgs/navigationBar/scoreboardSprite.png) no-repeat;
    display: block;
    height: 75px;
    width: 75px;
}

.scoreboardButton:hover,
.scoreboardButton:focus {
    background-position: 0 -75px;
    width: 75px;
    height: 75px;
}

.navBarItems p {
    color: white;
    text-align: center;
}

.navBarChallenges p {
    color: black;
    text-align: center;
    padding: 20%
}

.challengesButton {
    background: url(../imgs/navigationBar/challengesSprite.png) no-repeat;
    display: block;
    height: 75px;
    width: 75px;
}

.challengesButton:hover,
.challengesButton:focus {
    background-position: 0 -76px;
    width: 75px;
    height: 75px;
}

.skillsButton {
    background: url(../imgs/navigationBar/skillsSprite.png) no-repeat;
    display: block;
    height: 75px;
    width: 75px;
}

.skillsButton:hover,
.skillsButton:focus {
    background-position: 0 -76px;
    width: 75px;
    height: 75px;
}

.optionsButton {
    background: url(../imgs/navigationBar/optionsSprite.png) no-repeat;
    display: block;
    height: 75px;
    width: 75px;
}

.optionsButton:hover,
.optionsButton:focus {
    background-position: 0 -76px;
    width: 75px;
    height: 75px;
}

.dashboardButton {
    background: url(../imgs/navigationBar/dashboardSprite.png) no-repeat;
    display: block;
    height: 75px;
    width: 75px;
}

.dashboardButton:hover,
.dashboardButton:focus {
    background-position: 0 -76px;
    width: 75px;
    height: 75px;
}

#criticalthinkingbutton {
    background: url(../imgs/challenges/criticalThinking.png) no-repeat;
    display: block;
    height: 128px;
    width: 128px;
}

#timetrialbutton {
    background: url(../imgs/challenges/timeTrial.png) no-repeat;
    display: block;
    height: 128px;
    width: 128px;
}

#recognitionbutton {
    background: url(../imgs/challenges/recognition.png) no-repeat;
    display: block;
    height: 128px;
    width: 128px;
}

#definitionsbutton {
    background: url(../imgs/challenges/definitions.png) no-repeat;
    display: block;
    height: 128px;
    width: 128px;
}

#aboveandbeyondbutton {
    background: url(../imgs/challenges/aboveBeyond.png) no-repeat;
    display: block;
    height: 128px;
    width: 128px;
}
