#usernameInputField {
    display: inline-block;
    width: 300px;
    background-color: transparent;
}

#passwordInputField {
    display: inline-block;
    width: 300px;
    background-color: transparent;
}

#emailInputField {
    display: inline-block;
    width: 300px;
    background-color: transparent;
}

#profileImage {
    height: 400px;
    width: 400px;
    margin-top: 25px;
}

.submissionAnchor {
    margin-left: 3px;
}

a p {
    text-align: center;
    padding: 75px 4px 4px 4px;
}

li button {
    padding-bottom: 12px;
}


.buttonSubmit {
    border-radius: 42px;
    width: 96px;
    height: 120px;
    background-color: #ecf0f1;
    margin: 0px 4px 4px 4px;
}

.submissionDiv {
    margin-top: 30px;
}

.answerchoiceContainer {
    margin-top: 5%;
    display: block;
}

.questionText {
    margin-top: 25px;
    white-space: normal;
}

.profileImageContainer {
    height: 400px;
    background: transparent;
    margin-bottom: 5%;
}

.middleContainer {
    height: 250px;
    display: block;
}

.pageLabelAndImageContainer {
    margin-top: 110px;
    height: 400px;
}

div h2 {
    font-family: Helvetica Neue;
    font-size: x-large;
    font-weight: 100;
    padding-left: 67px;
}

li {
    margin-bottom: 25px;
    border: solid 1px transparent;
    color: black;
}

li a {
    margin-right: 19px;
}

li p {
    padding-top: -3px;
    font-size: small;
    display: inline-block;
    white-space: normal;
    height: 40px;
    width: 550px;
    word-wrap: break-word;
    color: black;
    text-align: left;
    padding-top: 8px;
}

.questionChoiceOne {
    padding-top: 32px;
    height: inherit;
    text-align: left;
}

.answerText {}

.mainSectionContainer ul {
    margin-top: 0px;
}

body {
    color: #93B7BE;

}
