html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    width: 100%;
    padding-bottom: 1.5rem;
    height: 50%;
    background-color: #ecf0f1;
    color: #333233;
    font-family: 'Source Sans Pro', sans-serif;
}

.siteLogo {
    font-size: 6em;
    color: #ecf0f1;
    height: inherit;
    width: 90px;
    padding-left: 16px;
}

.siteHeader {
    height: 125px;
    width: 100%;
    background-color: #34495e;
    display: block;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.navBarItems {
    height: 95px;
    width: 80px;
    margin-top: 15px;
    margin-left: -21px;
}

.navBarChallenges {
    height: 95px;
    width: 80px;
    margin-top: 15px;
    margin-left: -21px;
}

@media(max-width:767px) {
    .siteHeader {
        height: 240px;
    }
}

.navContainerDiv {
    height: inherit;
}
