.skillsHeader {
    margin-top: 38px;
    z-index: 0;
    display: run-in;
    position: absolute;
}

div h2 {
    font-size: 5em;
    font-weight: lighter;
        margin-top: 5%;
}

li span {
    display: -webkit-inline-box;
    width: 362px;
    height: 65px;
    background: url(../imgs/skills/star.png) 0 0;
}

li span span {
    display: block;
    height: 65px;
    width: 50%;
    background: url(../imgs/skills/starBold.png) 0 0p;
}

.skillLabelListItem {
    margin-bottom: -15px;
}

li p {
    padding-top: 13px;
    font-size: 3em;
}

.mainSectionContainer ul {
    margin-top: 150px;
}

.starList {
    margin-top: 5%;
}